* {
  box-sizing: border-box;
}

body {
  margin: 0; 

  /* 3em. the font is 1em from base font size */
  font-size: 300%;
  /* il colore è ereditato dai figli, con link ad esempio verrà ereditato un altro colore */
  color: white;
}


.box {
  /* questa proprietà affetta il layout: margin border padding*/
  width: 200px;
  height: 200px;

  /*style*/
  text-align: center;
  line-height: 200px;

  /* sposta gli elementi dalla posizione standard, non affetta il layout. senza position relative z-index non viene applicato*/ 
  position: relative;

  /* con position fixed devo specificare top, right, bottom, margin. L'oggetto rimane fisso rispetto agli altri elementi. se c'è un <p> sarà sotto.
  se inserisco z-index: -1 (negative) andrà sotto gli altri oggetti. 
  position: fixed; 
  top: 0;
  right: 0; */


  /* display: is not fisically part of the layout */
  /* visibilty: nasconde dal layout ma lascia lo spazio */
  /* display inline non funziona perché <a> link è un inline element */
  display: block;

  /* z-index by default is 0. se metto 1 sarà sopra tutti gli altri */
  z-index: 0;
  transition: opacity .5s ease-in;
  opacity: 0;

  /* decoration */
  border: 1px;
  background-color: yellow;
}

.box:nth-child(2) {
  background-color: yellowgreen;
  top: -20px;
  left: 20px;
}

.box:nth-child(3) {
  background-color: greenyellow;
  top: -40px;
  left: 40px;
}

.box:hover {
  /* when is over it stays on top */
  z-index: 1;
  
  border: 10px solid rebeccapurple;

  /*i cannot see, i can click, it cannot take space */
  opacity: 1;
}
