* {
  /* width considera il content: se un elemento a widht 100px anche box-content widht è 100px*/
  box-sizing: content-box;
}

body {

  margin: 0;
  background-color: #eeeeee ;
  font-family: sans-serif;
  color: gray;

}

.container {
  /* per centrare il container */
  /* il primo numero è applicato in verticale: margin-top, margin-botton; secondo numero orrizzontale a margin-left margin-right */

  margin:20px auto;

  border: 3px solid black;

  /* contenier senza hight fissa è un block element che vuole occupare 100% altezza del padre */

  width: 700px;

  /* il contenier cresce con il content */
  overflow: auto;

}

.box { 
  border: tomato;
}


.box-1 {
  background-color: pink;
  width: 300px;
  height: 300px;
  float: left;
} 

.box-2 {
  background-color: aquamarine;
  width: 400px;
  height: 400px;

  float: right;
}

.box-3 {
  background-color:greenyellow;
  width: 300px;
  height: 400px;

  float: left;
}

.box-4 {
  background-color: lightgrey;
  width: 400px;
  height: 200px;

  float:right;
}

.box-5 {
  background-color: yellow;
  width: 400px;
  height: 100px;

  float: right;
}

.box-number {
  color: red;
  font-size: 2em;
}

.box-text {
  text-align: center;
}